<!DOCTYPE html>
<html layout:decorator="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Főoldal</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid">
    <div class="card" style="margin-top:10px;">
        <div class="card-header">Alkalmazottak listája</div>
        <div class="card-body">
            <a th:href="@{/employee}" class="btn btn-primary" style="margin-bottom: 10px;">Új alkalmazott felvétele</a>
            <table class="table table-striped table-hover" id="entityList">
                <thead class="thead-dark">
                <tr>
                    <th class="text-left" scope="col">ID</th>
                    <th class="text-left" scope="col">Beosztás</th>
                    <th class="text-left" scope="col">Vezetéknév</th>
                    <th class="text-left" scope="col">Keresztnév</th>
                    <th class="text-left" scope="col">Login név</th>
                    <th class="text-left" scope="col">Jelszó</th>
                    <th class="text-left" scope="col">Fizetés</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="e : ${entityList}">
                    <td th:text="${e.id}"></td>
                    <td th:text="${e.title}"></td>
                    <td th:text="${e.firstName}"></td>
                    <td th:text="${e.lastName}"></td>
                    <td th:text="${e.loginName}"></td>
                    <td th:text="${e.password}"></td>
                    <td th:text="${e.salary}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


    </div>

</div>
</body>
</html>