<!DOCTYPE html>
<html layout:decorator="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Főoldal</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <form action="#" th:action="@{/employee}" th:object="${entity}" method="post">
                <div class="card">
                    <div class="card-header">Employee</div>
                    <div class="card-body">
                        <ul th:if="${#fields.hasErrors('*')}">
                            <li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
                        </ul>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="id">ID</label>
                                <input class="form-control" id="id"
                                       placeholder="ID"
                                       readonly="true"
                                       th:field="*{id}"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="title">Beosztás</label>
                                <select required="true" class="form-control" id="title" name="title"
                                        th:field="*{title}">
                                    <option th:each="title : ${titleList}"
                                            th:value="${title}"
                                            th:text="${title}">Iroda</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="firstName">Keresztnév</label>
                                <input class="form-control" id="firstName"
                                       th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')} ? 'error-field'"/>
                                <span  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error-field" th:style="'color:red'"></span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="lastName">Vezetéknév</label>
                                <input class="form-control" id="lastName"
                                       th:field="*{lastName}"/>
                                <span  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error-field"></span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="loginName">Login név</label>
                                <input class="form-control" id="loginName"
                                       th:field="*{loginName}"/>
                                <span  th:if="${#fields.hasErrors('loginName')}" th:errors="*{loginName}" th:errorclass="error-field"  th:style="'color:red'"></span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="password">Jelszó</label>
                                <input class="form-control" id="password"
                                       th:field="*{password}"/>
                                <span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error-field"  th:style="'color:red'"></span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label" for="salary">Fizetés</label>
                                <input type="number" class="form-control" id="salary" required="true"
                                       th:field="*{salary}"/>
                                <span  th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" th:errorclass="error-field"  th:style="'color:red'"></span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <button type="submit"  class="btn btn-primary" onclick="return confirm('Valóban menti az alkalmazottat?');">Mentés</button>

                                <button class="btn btn-primary  mb-2 mr-sm-2 mb-sm-0" id="btnBack"
                                        name="action" onclick="window.history.back()"
                                        type="button"
                                        value="search">
                                    Vissza
                                </button>

                            </div>
                        </div>

                    </div>

                </div>
            </form>
        </div>
        <div class="col-sm-2">
        </div>


    </div>
</div>


</body>
</html>